@charset "utf-8";
/*Pedro CSS Document */



@font-face {
    font-family: 'Aleo-Bold';
    src: url('../fonts/Aleo-Bold.eot');
    src: url('../fonts/Aleo-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Bold.woff2') format('woff2'),
         url('../fonts/Aleo-Bold.woff') format('woff'),
         url('../fonts/Aleo-Bold.ttf') format('truetype'),
         url('../fonts/Aleo-Bold.svg#Aleo-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




body {	background:url(../images/grid_bg.png) repeat;}
.main-top-nav li a{ 
font-size:18px;
    font-family: 'Aleo-Bold';
text-transform: normal;}


/*responsive*/

/*320 × 480 Phone (portrait)*/
@media screen and (max-width: 480px) {
/* up to 480px */

.small_logo {
	display:inline;
	
}
.regul_logo{
	display:none;
	
}
.aux-top-nav{
	display:none;
	
}
.destop-menunav {display:none;}
.navbar {min-height: 60px;}

.carousel{
margin-top: 58px;
}
.carousel-caption{
	display:none;
}
#carousel-example-generic .control-left {display:none;}
#carousel-example-generic .control-right {display:none;}
.page-header-menu, .page-header-events, .page-header-ourchefs {min-height: 275px !important;}
	
	}

/*480 × 320 Phone (landscape)*/


/*480 × 800 Small Tablet (portrait)*/
@media screen and (min-width: 481px) and (max-width: 800px) {
/* up to 480px */

.small_logo {
	display:inline;
	
}
.regul_logo{
	display:none;
	
}
.destop-menunav {display:none;}
.aux-top-nav{
	display:none;
	
}
#carousel-example-generic .control-left {display:none;}
#carousel-example-generic .control-right {display:none;}
.navbar {min-height: 60px;}
	
	}
/*800 × 480 Small Tablet (landscape)*/
/*768 × 1024 Large Tablet (portrait)*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
.carousel{
margin-top: 58px;
}	
	
	}
/*1024 × 768 Large Tablet (landscape)*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	
	
	}
@media screen and (min-width: 801px) and (max-width: 1024px) {


.small_logo {
	display:inline;
	
}
.regul_logo{
	display:none;
	
}
.destop-menunav {display:none;}
.aux-top-nav{
	display:inline;
	
}
.main-top-nav {
border-top:solid #8d6990 1px;	
	}
.carousel{
margin-top: 128px;
}	
	}
	
/*1280 × 800 Desktop*/
@media screen and (min-width: 1025px) and (max-width: 3520px) {


.small_logo {
	display:none;
	
}
.regul_logo{
	display:inline;
	
}
.mobile-menunav {display:none;}

.main-top-nav {
border-top:solid #8d6990 0px;
	}
.carousel{
margin-top: 105px;
}
	
	}
	
	
.aux-top-nav li{
display:inline;
}

.main-top-nav li a:hover {
    color: #ffffff;  
	background:url(../images/mostache_bg.png) no-repeat center;
}
.navbar-inverse .navbar-nav > .active > a {
    color: #ffffff;  
	background:url(../images/mostache_bg.png) no-repeat center;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 52px 20px;
}
.carousel-caption {
	background:url(../images/opacity.png) repeat;
	margin-bottom: 35px;
}
.carousel-caption h2 {
font-size:24px;
font-family: 'austie_bost_roman_holiday_sRg'; text-transform:uppercase; color:whie;}
.carousel-caption a{margin-bottom:10px;}

.separator {
	height:60px;
	background:url(../images/separator_orange.png) center;
	width:100%;
	    margin-top: -45px;
    position: absolute;
	
	
	}
.separator_footer {
	height:65px;
	background:url(../images/separator_blue.png) center;
	width:100%;
	    margin-top: -45px;
    position: absolute;
	
	
	}
.marketing {text-align:center; padding-top:20px; padding-bottom:70px;}
.marketing h1 {font-size:43px;
font-family: 'austie_bost_roman_holiday_sRg'; text-transform:uppercase; color:#9e3426;}

#carousel-example-generic {margin-top:17px;}
#carousel-example-generic .control-left {margin-left: -75px;}
#carousel-example-generic .control-right {margin-right: -75px;}
#carousel-example-generic .carousel-indicators {position: absolute; bottom: -32px;}
.home_promo img{
    display: block;
margin-left: auto;
margin-right: auto 
}
.intro {
	font-size:27px; font-family: 'austie_bost_roman_holiday_sRg'; color:#743f5e; padding-bottom:20px;}
	
footer { width:100%; background:#2f272b; color:#dddddd; }
footer h1 {
    font-size:27px;
font-family: 'austie_bost_roman_holiday_sRg';  color:#c5ad28;}

.copyright ul li {display:inline;}
.copyright ul li a {color:#73767e;}
.copyright ul li a:hover {color:#fff; text-decoration:none;}

.copyright ul > li+li:before {
content: "/\00a0";
padding: 0 5px;
color: #ccc;
}
.footer_bullet { list-style-image:url(../images/orange_sun.png); margin-left: -20px;
    margin-top: 0px;
    font-weight: bold;}
.footer_bullet li {padding-bottom:10px;}
.footer_bullet span {font-weight:normal;}
.footer_bullet a {color:#73767e;}
.footer_bullet a:hover {color:white; text-decoration:none;}

.page-header-menu {background:url(../images/menu_header.jpg); background-size:cover; min-height:500px;     background-position: center;}
.page-header-events {background:url(../images/events_header.jpg); background-size:cover; min-height:500px;     background-position: center;}
.page-header-ourchefs {background:url(../images/ourchefs_header.jpg); background-size:cover; min-height:500px;     background-position: center;}
.page-body { text-align:left;}



/*hover effect*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.1);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 15px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: 0px 0 0 0;

}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}
/*end of hover effect*/

.dishes {text-align:left; font-size:18px; padding-bottom:20px; padding-top:20px; border-bottom:solid 1px #525763;}
.dishes h3 {font-weight:bold; font-size:18px; text-transform:uppercase;}

.events {text-align:left; margin-bottom:20px;     float: left; }
.event-bullet{ background:#567724; color:white;  }
.event-bullet h1 { font-size:65px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:bold; color:white;     margin-top: -10px; text-shadow: 1px 2px 3px #333333; }
.event-bullet h4 {margin-top: -10px; }
.event-bullet h1, .event-bullet h3, .event-bullet h4 {text-align: center;}
.event-desc  { background:#1d222e; padding:20px; color:#8a92a8;}
/*.event-desc  img {margin-top: 20px;  }*/
.event-desc h1 { font-size:20px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:bold; color:white;}
.event-desc a {margin-top:11px;}
.breadcrumb {text-align:left;}
.chefs_thumb img {margin-bottom:10px; margin-top:10px;}

.sidebar_right_nav {
	width: 292px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;}
.nav-pills > li > a {background: beige; border-radius:1px;}
.nav-pills > li > a:hover {background: #743f5e; color:white;}




.main_content {
    background: url("../images/food_bg.jpg");

    padding: 20px;
    margin-top: 125px;

}



.footer_signup {
    text-align: center;
    background: #ffffff;
    border-top: solid 6px #7b3231;
    padding: 20px;
}

.footer_signup h1 {
    font-family: "Century Gothic";
    font-size: 30px;
    color: #7b3231;
    text-transform: uppercase;
}
.footer_signup h4 {
    font-family: "Century Gothic";
    font-size: 16px;
    color: #000000;
    font-weight: bold;

}

.footer_copyright {
    background: #030303;
    padding: 20px;
    text-align: center;
    color: #b2b2b2;
}

.footer_links h1 {
    font-family: "arial";
    font-size: 14px;
    color: #b2b2b2;
    text-transform: uppercase;
    font-weight: bold;
}
.footer_links ul{
    list-style: none;
    margin-left: -38px;
    margin-bottom: 40px;
}
.footer_links ul li {
    padding-bottom: 0px;
    padding-top: 5px;
}
.footer_links a{
    text-decoration: none;
    font-family: "arial";
    font-size: 14px;
    color: #b2b2b2;

}
.footer_links a:hover{
    color: #fff;
}

/*btn collections*/
.oval_btn {
    border-radius: 18px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.btn-brown {
    color: #fff;
    background-color: #7b3231;
    border-color: #9c4443;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-brown:hover {
    background-color: #9c4443;
    color: #fff;
}
.btn-grey {
    color: #fff;
    background-color: #363034;
    border-color: #443f42;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-grey:hover {
    background-color: #0e0d0e;
    color: #fff;
}

